<div id="<%= dom_id meme %>">
  <p>
    <strong>Slno:</strong>
    <%= meme.SlNo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= meme.Title %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= meme.tags %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= meme.description %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= meme.folder %>
  </p>

</div>
