<p style="color: green"><%= notice %></p>

<%= render @meme %>

<div>
  <%= link_to "Edit this meme", edit_meme_path(@meme) %> |
  <%= link_to "Back to memes", memes_path %>

  <%= button_to "Destroy this meme", @meme, method: :delete %>
</div>
